@import '_variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
}

.message {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
}

.error-message {
    color: $error-color;
    padding-bottom: 5px;
}

.success-message {
    color: $success-color;
}

.vh-100 > div{
    height: 100vh;
}
