$primary-color: #008080; // Teal
$secondary-color: #019797;
$tertiary-color: #e3ede8;
$error-color: #e74c3c; // Red
$success-color: #2ecc71; // Green
$background-color: #f4f4f4; // Light Gray
$text-color: #333; // Dark Gray
